@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  min-height: 100dvh;
  font-family: Outfit;
  background-color: var(--primary_color);
}
:root {
  /* bg colors */
  --primary_color: #0c0c0c;
  --secondary_color: #1a1a1a;
  --bg_color_1: #f21f30;
  --bg_color_2: #1a9362;
  --bg_color_3: #bdbdbd;
  --bg_color_4: #303030;
  /* text colors */
  --text_color_1: #ffffff;
  --text_color_2: #eeeeee;
  --text_color_3: #bdbdbd;
  --text_color_highlight_1: #f21f30;
  --text_color_highlight_2: #1a9362;
  /* Border radius */
  --border_radius_1: 10px;
  --border_radius_2: 5px;
  --border_radius_button: 3px;
}
/* text universal styles */
h1 {
  font-size: 68px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
p {
  font-size: 16px;
  line-height: 1.4;
}
@media (max-width: 768px) {
  /* responsive */
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  p {
    font-size: 15px;
  }
}
/* button universal styles */
button {
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  transition: 300ms ease-out;
  border-radius: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
/* a universal styles */
a {
  cursor: pointer;
  text-decoration: none;
}
/* scroller styles */
::-webkit-scrollbar {
  width: 6px;
  background-color: var(--primary_color);
}
::-webkit-scrollbar-track {
  background-color: var(--primary_color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--bg_color_1);
}
.active_nav {
  border-bottom: solid var(--bg_color_1);
  color: var(--text_color_highlight_1);
}
/* navigation scroll */
.nav-scroll {
  animation: navAnimation linear forwards;
  animation-timeline: view();
  animation-range-start: 100vh;
  animation-range-end: 101vh;
}

@keyframes navAnimation {
  100% {
    background-color: rgb(12, 12, 12, 0.8);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
}
/* input styles */
.input-group {
  position: relative;
}
.input-group .input {
  outline: none;
  border: 1px solid var(--bg_color_1);
  text-transform: capitalize;
  background-color: transparent;
}
.input-group .label {
  position: absolute;
  left: 0;
  margin: 7px;
  margin-left: 25px;
  pointer-events: none;
  transition: all 300ms ease-out;
  color: var(--text_color_highlight_1);
}
.input-group :is(.input:focus, .input:valid) ~ .label {
  transform: translateY(-80%) scale(0.8);
  background-color: var(--primary_color);
  padding-left: 5px;
  padding-right: 5px;
  color: var(--text_color_3);
}
.input-group :is(.input:focus, .input:valid) {
  border-color: var(--bg_color_3);
}
