@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  min-height: 100dvh;
  font-family: Outfit;
  background-color: var(--primary_color);
}
:root {
  /* bg colors */
  --primary_color: #0c0c0c;
  --secondary_color: #202020;
  --bg_color_1: #f21f30;
  --bg_color_2: #1a9362;
  /* text colors */
  --text_color_1: #ffffff;
  --text_color_2: #7c7c7c;
  --text_color_highlight_1: #f21f30;
  --text_color_highlight_2: #1a9362;
  /* Border radius */
  --border_radius_1: 10px;
  --border_radius_2: 5px;
  --border_radius_button: 3px;
}
/* text universal styles */
h1 {
  font-size: 68px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
@media (max-width: 768px) {
  /* responsive */
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  p {
    font-size: 15px;
  }
}
/* button universal styles */
button {
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  transition: 300ms ease-out;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
/* a universal styles */
a {
  cursor: pointer;
  text-decoration: none;
}
/* scroller styles */
::-webkit-scrollbar {
  width: 6px;
  background-color: var(--primary_color);
}
::-webkit-scrollbar-track {
  background-color: var(--primary_color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--bg_color_1);
}
.active_nav {
  border-bottom: solid #f21f30;
  color: #f21f30;
}
